body {
  margin: 0;
  padding-bottom: 50px;
  font-family: sans-serif;
}

/* react-bootstrap modal */
/* see contained modal: https://react-bootstrap.github.io/components.html#modals */
.modal-container {
  position: relative;
}
.modal-container .modal, 
.modal-container .modal-backdrop {
  position: absolute;
}