# Ignore these when building Docker image
**/.env
**/target

**/.settings
**/.idea
**/*.iml
**/.vscode
**/doc
/*.md
**/README.md
**/.project
**/.classpath
**/.factorypath
**/.apt_generated/
**/.apt_generated_tests/

# don't ignore git, or we can't get the commit id/hash etc to put in the application.
#.git

# vi temporary files
**/*.swp

# log files, such as JVM crash files
**/*.log

# Ignore docker files, we don't need these inside the container.
**/Dockerfile
**/*.dockerfile
**/.dockerignore
**/docker-compose*.yml

# node_modules
src/frontend/node_modules
src/frontend/node