#parse("header.vm")

<script>
    DOCUMENT_ID = "$esc.javascript($docId)";  
    PAGESIZE = $pageSize;
</script>  

<script src="$jspath/article.js?_$cache"></script>

<div class="container article">
    <ul id="articleTabs" class="nav nav-tabs cf-panel-tab-header cf-panel-lg">
        <li class="active"><a href="#content" data-toggle="tab">Content</a>
        </li>
        <li><a href="#metadata" data-toggle="tab">Metadata</a></li>
        <li><a href="#statistics" data-toggle="tab">Statistics</a></li>
    </ul>
    <div class="tab-content cf-panel-tab-body cf-panel-lg" style="padding-top: 35px;">
         <div id="content" class="tab-pane active">
            <div id="vue-root-pagination"></div>
            
            #set($unescaped = $article_content) ## see BaseResponse.java
            $!unescaped
        </div>

        <div id="metadata" class="tab-pane">
            #set($unescaped = $article_meta) ## see BaseResponse.java
            $!unescaped
        </div>

        <div id="statistics" class="tab-pane">
            <div id="vue-root-statistics"></div>
        </div>
    </div>
</div>

#parse("footer.vm")