<html>
<head>
    <meta charset="utf-8">

    <script>
        var CONTEXT_URL = "$esc.javascript($CF_URL_ON_CLIENT)";
        var OIDC_AUTHORITY = "$esc.javascript($OIDC_AUTHORITY)";
        var OIDC_METADATA_URL = "$esc.javascript($OIDC_METADATA_URL)";
        var OIDC_CLIENT_ID = "$esc.javascript($OIDC_CLIENT_ID)";
    </script>

    <script src="$JSPATH/callback.js?_$cache"></script>
</head>
<body>
    <div class="container">
        Callback for oidc login process.
    </div>
</body>
</html>