#parse("header.vm")

<div id="successDiv" class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span id="successMessage"></span>
</div>
<div id="errorDiv" class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span id="errorMessage"></span>
</div>

<div class="contentbox" data-bls-url="$blsUrl" style="position:relative;min-height:150px;">
    <span id="waitDisplay" class="fa fa-spinner fa-spin searchIndicator" style="position: absolute; left: 50%;"></span>
    
    <p data-autoupdate="username" class="text-right" style="display: none;"></p>

    <div id="corpora-public-container">
        <hr>
        <h2>Public corpora</h2>

        <table class="corpora public table">
            <thead>
                <tr>
                    <th></th> ##search button
                    <th>Corpus</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody data-autoupdate="corpora" data-filter="public"></tbody>
        </table>
    </div>

    <div id="corpora-private-container">
        <hr>
        <h2 id="header-private">Your corpora</h2>
        
        <table class="table corpora">
            <thead>
                <tr>
                    <th></th> ##search button
                    <th>Corpus</th>
                    <th>Size</th>
                    <th>Format</th>
                    <th>Last modified</th>
                    <th></th> ## delete, add, share buttons
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-autoupdate="corpora" data-filter="private"></tbody>
        </table>
    
    	<em id="create-corpus-limited" class="text-danger" style="display:none;padding-left: 8px;">You have reached the private corpora limit.<br>You will have to delete one of your corpora before you may create another.</em>    
        <button class="btn btn-default btn-lg" id="create-corpus" type="button" data-toggle="modal" data-target="#new-corpus-modal">New corpus</button>
    
    </div>
    

    <div id="formats-all-container">
        <hr>
        <h2>Your import formats</h2>
    
        <table class="table corpora">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th> ## delete, edit buttons
                    <th></th>
                </tr>
            </thead>
            <tbody data-autoupdate="format">
            <!-- filled by clientside js -->
            </tbody >
        </table>
        <button type="button" class="btn btn-lg btn-default" data-toggle="modal" data-target="#new-format-modal">New format</button>

    </div>
</div>

<div class="modal fade modal-fullwidth" id="new-format-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>New import format</h3>
            </div>
            
            <div class="modal-body">
                        
                <div style="display:flex; align-items: flex-start; justify-content: space-between;">
                    <div class="form-group" style="margin-right: 50px; flex: 1 1 auto;">
                        <label for="format_name">Format name</label>
                        <div class="input-group" style="width:100%">
                            <input type="text" id="format_name" name="format_name" class="form-control" />
                            <select id="format_type" class="selectpicker" data-width="auto" data-style="btn-primary">
                                <option label="YAML" value="yaml" selected>YAML</option>
                                <option label="JSON" value="json">JSON</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" style="width: 300px">
                        <label style="display:block;">Load a file</label>
                    
                        <label class="btn btn-primary" style="position:relative;" for="format_file">
                            <input 
                            type="file" 
                            name="format_file" 
                            id="format_file" 
                            title="Open a file from your computer"
                            style="position:absolute;left:0;top:0;width:0px;height:100%;padding-left:100%;opacity:0;cursor:pointer;overflow:hidden;"/>
                            Open file...
                        </label>
                        <button type="button" class="btn btn-primary pull-right tutorial-download" data-toggle="collapse" data-target="#format-download-container">Download preset...<span class="fa fa-caret-down"></span></button>
                        
                        <div id="format-download-container" class="collapse" style="margin-top:10px;">
                            <div class="well" style="padding: 12px 8px; margin: 0;">
                                <select class="selectpicker" id="format_select" data-autoupdate="format" data-filter="configBased" data-width="100%">
                                    <!-- options filled in by clientside javascript -->
                                </select>
                                
                                <div class="input-group" style="margin-top: 6px;">
                                    <input type="text" id="format_preset" class="form-control" name="format_preset" placeholder="Format name">
                                    
                                    <span class="input-group-btn">
                                        <button 
                                        type="button" 
                                        name="format_download" 
                                        id="format_download" 
                                        title="Download this format from the server" 
                                        class="btn btn-primary">
                                            Download
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <textarea id="format_editor" style="width:100%;"></textarea>
            
                <div id="format_error" class="alert alert-danger" style="display:none; margin-top:20px; flex: none;"></div>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="format_save">Save</button>
                <h5 class="pull-left"><span class="fa fa-question-circle text-muted"></span> <a href="http://inl.github.io/BlackLab/how-to-configure-indexing.html" target="_blank" style="font-weight: bold">How to write your own format</a></h5>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="new-corpus-modal" tabindex="-1" role="dialog" aria-labelledby="create-corpus" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create New Corpus</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-group">
                        <label for="corpus_name">Corpus Name</label>
                        <input type="text" id="corpus_name" name="corpus_name" maxlength="80" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="corpus_document_type" title="The format of the documents that will be stored in the corpus">Document Format</label>
                        <br/>
                        <select id="corpus_document_type" name="corpus_document_type" class="selectpicker" data-autoupdate="format" data-width="100%">
                            <!-- filled in through clientside javascript -->
                        </select>
                        <small class="text-muted" id="corpus_document_type_description" style="display: block; padding: 8px 8px 0px;"></small>
                        <small style="display: block; padding: 8px 8px 0px;"><a id="corpus_document_type_help_url" target="_blank">More information</a></small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="upload-file-dialog" tabindex="-1" role="dialog" aria-labelledby="upload-file" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add new data to corpus <span id="uploadCorpusName">&hellip;</span></h4>
            </div>
           <div class="modal-body">
                <p>You may upload:</p>
                <ul>
                    <li>Normal files to be indexed</li>
                    <li><em>.zip</em> or <em>.tar.gz</em> archives containing multiple files at once. Archives should not contain files that cannot be indexed!</li>
                    <li>External metadata files separately</li>
                </ul>
                
                <div style="padding: 10px 25px 0px;">
                    <form id="document-upload-form">
                        <label for="data[]" class="btn btn-info document-upload-button">
                            <span id="upload-docs-label" class="document-upload-button-text"></span>
                            <input id="upload-docs-input" name="data[]" type="file" multiple data-label-id="#upload-docs-label" data-label-without-value="Select documents" data-label-with-value="&#8200;document file(s)">
                        </label>
    
                        <label for="linkeddata[]" class="btn btn-default document-upload-button">
                            <span id="upload-metadata-label" class="document-upload-button-text"></span>
                            <input id="upload-metadata-input" name="linkeddata[]" type="file" multiple data-label-id="#upload-metadata-label" data-label-without-value="Select linked&#8200;files" data-label-with-value="&#8200;linked file(s)">
                        </label>
    
                        <small id="uploadFormatDescription" class="text-muted" style="display: block; margin: 12px 0px; width: 100%;"></small>
                        <div id="document-upload-submit-wrapper"><button id="document-upload-submit" type="submit" class="btn btn-primary">upload</button></div>
                    </form>
    
                    <div class="progress">
                        <div id="uploadProgress" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
                    </div>
                    <div id="uploadSuccessDiv" class="alert alert-success"></div>
                    <div id="uploadErrorDiv" class="alert alert-danger"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="share-corpus-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="share-corpus-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Sharing options for corpus <em id="share-corpus-name"></em></h4>
                    <small class="text-muted">One username per line</small>
                </div> 
                <div class="modal-body">
                    <textarea id="share-corpus-editor" name="users[]" style="width:100%; height: 400px; resize: vertical;" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="share-corpus-submit">Save</button>
                </div>            
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="modal-confirm-title">Title</h4>
            </div>
            <div class="modal-body">
                <p id="modal-confirm-message">Message</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal-confirm-confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>

<ul id="tlyPageGuide" data-tourtitle="Creating your own corpus">
    <li class="tlypageguide_right" data-tourtarget=".btn[data-target='#new-corpus-modal']">
        <div>
            <p>
                Here you can create a new private corpus.<br>
            </p>
            <p>
                A private corpus allows you to upload and search through your own data.<br>
                Corpora you create are not visible to others unless you explictly share them, and they are restricted in their maximum size.<br>
            </p>
        </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget="button[data-id='corpus_document_type']">
        <div>
            <p>
                Select the format of the data you intend to upload to this corpus here.
            </p>
            <p>
                Because annotated data can be structured in many different ways, you will need to define how the data you intend to upload to this corpus should be indexed.<br>
                Some of the more well-known types, such as <code>TEI</code> and <code>FoLiA</code> are already pre-supported.<br>
            </p> 
            <p>
                If your data is in a format that's not in this list, it's possible to create your own custom format definition by clicking the <code>new format</code> button at the bottom of the page.<br>
                The new format will then become available in this list.
            </p>
        </div>
    </li>
    <li class="tlypageguide_top" data-tourtarget=".fa.fa-trash">
        <div>
            Click here to delete this corpus. You can only delete your own corpora.
        </div>
    </li>
    <li class="tlypageguide_top" data-tourtarget=".fa.fa-plus-square">
        <div>
            Click here to add some data to your corpus. It is currently not possible to remove data from the corpus.<br>
            Once indexing is finished, the new data is immediately available for searching. 
        </div>
    </li>
    <li class="tlypageguide_top" data-tourtarget=".fa.fa-user-plus">
        <div>
            Click here to share your corpus with other users. You will have to know their usernames.
        </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget="#upload-docs-input">
        <div>
            Select the file(s) you want to add to the corpus here.<br>
            You should only select files appropriate for the corpus. Invalid files will cause the whole lot to be rejected.<br>
            See the hint below this button for a reminder of the type(s) of files that can be added to this corpus.  
        </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget="#upload-metadata-input">
        <div>
            If your files link to external metadata in different files, you should also upload those files here.
            Support for external data has to be configured in a custom import format, so you usually won't need this option.<br>
            For more information on how to configure a format for using linked/external files, 
            <a style="text-decoration: underline;color:#337ab7;" target="_blank" href="https://github.com/INL/BlackLab/blob/d20eb71b25137facf10f7d2681242de34ab1fa54/core/src/site/markdown/how-to-configure-indexing.md#metadata-external">see here</a>.
        </div>
    </li>
    <li class="tlypageguide_right" data-tourtarget="button[data-target='#new-format-modal']">
        <div>
            If your corpus material is in a format that we don't support out of the box (yet), you can customize how your data is treated by creating a new format here.<br>
            After you've done so, you will need to create a new corpus that uses the format and add some files to it.
        </div>
    </li>
    <li class="tlypageguide_top" data-tourtarget="button[data-id='format_type']">
        <div>
            Formats can be written in either Json or Yaml.<br>
            Changing this setting will also change the syntax highlighting so you can more easily spot mistakes.
        </div>
    </li>
    <li class="tlypageguide_top" data-tourtarget=".tutorial-download">
        <div>
            A good place to start writing a format is usually to download one of our presets, and edit it until it matches the structure of your corpus material.<br>
            Select a format to start with in the dropdown then click <code>download</code> to open it in in the editor.<br>
            You can also download another user's format, if you know the name.<br>
            To do so, enter their username followed by ':', followed by the name of the format <code>username:format</code> in the box next to the download button.<br>
            <br>
            When you load one of your own formats, its name will automatically be filled in, so any changes you save will overwrite the format.
        </div>
    </li>
    <li class="tlypageguide_bottom" data-tourtarget="#format_save">
        <div>
            <p>
                When you're done editing your format, save it by clicking here.<br>
            </p>
            <p>
                The format will be saved using the name you entered to the left.<br>
            </p>
            <p>
                If you already own a format with this name, <i>the format will be overwitten.</i><br>
                If you save over a format that's already being used in one of your corpora, 
                then any new data you upload to that corpus will be indexed according to the updated format.
            </p>
        </div>
    </li>
    <li class="tlypageguide_bottom" data-tourtarget=".CodeMirror">
        <div>
            Edit your format here.<br>
            <br>
            Information on how to write a format can be found <a style="text-decoration: underline;color:#337ab7;" target="_blank" href="http://inl.github.io/BlackLab/how-to-configure-indexing.html">here</a>.
        </div>
    </li>
</ul>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.min.css" integrity="sha256-I8NyGs4wjbMuBSUE40o55W6k6P7tu/7G28/JGUUYCIs=" crossorigin="anonymous" />
<link rel="stylesheet" href="$pathToTop/css/corpora.css?_$cache" >

<script src="$jspath/corpora.js?_$cache"></script>
    
#parse("footer.vm")