<style>
	#if($websiteConfig.getBackgroundImage().length() > 0)
    body {
		background: url('$websiteConfig.getBackgroundImage()');
		background-repeat: no-repeat;
        background-position: -350px -310px;
        background-attachment: scroll;
    }
    #end
	
	#if($websiteConfig.getBackgroundColor().length() > 0)
	.contentbox {
		background-color: $websiteConfig.getBackgroundColor();
	}
	#end
	
	#if($websiteConfig.getLinkColor().length() > 0)
	a,
	a:hover,
	a:active {
		color: $websiteConfig.getLinkColor();
	}
	#end
</style>