        <div class="container">
            <footer class="row"> 
                <hr>
                <p class="col-xs-12">Dutch Language Institute Corpus Search Interface v1.3 &copy; <a href="http://www.ivdnt.org">INT</a> 2013-2019</p>
            </footer>
        </div>

        #if($googleAnalyticsKey.length() > 0)
        #set($unescaped = $googleAnalyticsKey) ## see BaseResponse.java
        <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '$unescaped', 'auto');
        ga('set', 'anonymizeIp', true);
		ga('set', v.url);
		ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        #else 
        ## insert a no-op so we don't have to add conditionals to check if ga is enabled everywhere 
        <script>
        window.ga=window.ga||function(){};
        </script>
        #end
        #if ($websiteConfig.getPathToCustomCss())
            <link rel="stylesheet" href="$websiteConfig.getPathToCustomCss()?_$cache">
        #end

        #if ($websiteConfig.getPathToCustomJs())
            <script src="$websiteConfig.getPathToCustomJs()?_$cache"></script>
        #end
    </body>
</html>