<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        #if ($websiteConfig.getCorpusDisplayName())
        <meta property="og:description" content="$websiteConfig.getCorpusDisplayName() provided by the Dutch Language Institute in Leiden.">
        <meta name="description" content="$websiteConfig.getCorpusDisplayName() search provided by the Dutch Language Institute in Leiden.">
        <meta name="referrer" content="no-referrer">
        <title>$websiteConfig.getCorpusDisplayName() search</title>
        #else
        <meta property="og:description" content="AutoSearch provided by the Dutch Language Institute in Leiden.">
        <meta name="description" content="AutoSearch, provided by the Dutch Language Institute in Leiden.">
        <title>Welcome to AutoSearch</title>
        #end
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="icon" type="image/png" sizes="32x32" href="$pathToTop/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="$pathToTop/img/favicon-16x16.png">
        <link rel="icon" type="image/png" href="$pathToTop/img/favicon.png">
        <link rel="manifest" href="$pathToTop/img/manifest.json">
        <link rel="mask-icon" href="$pathToTop/img/safari-pinned-tab.svg" color="#3b3b3b">
        <link rel="shortcut icon" href="$pathToTop/img/favicon.ico">
        <link rel="apple-touch-icon" href="$pathToTop/img/apple-touch-icon.png">
        <meta name="msapplication-config" content="$pathToTop/img/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        
        <!-- Build time: $buildTime -->
        ## TODO set based on corpus info
        <link title="Search" type="application/opensearchdescription+xml" rel="search" href="$pathToTop/opensearch.xml">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="$pathToTop/css/vendor/pageguide.min.css?_$cache">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="$pathToTop/css/main.css?_$cache">
        ## Custom css and js in footer        
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-logo-container">
                        <div class="navbar-logo"></div>
                    </div> 
                    
                    #if($websiteConfig.getCorpusDisplayName())
                    <a href='$pathToTop/$brandLink' class='navbar-brand'>$websiteConfig.getCorpusDisplayName()</a>
                    #else
                    <a href='$pathToTop/$brandLink' class='navbar-brand'>AutoSearch</a>
                    #end
                    
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
                <div class="navbar-collapse collapse navbar-logo-margin">
                    <ul class="nav navbar-nav">
                        #foreach($link in $websiteConfig.getLinks())
                            <li><a href="$link.href" #if($link.openInNewWindow) target="_blank" #end>$link</a></li>
                        #end
                    </ul>
                </div>
            </div>
        </div>
        
        <noscript>
            <br/><br/><br/>
            <div class="alert alert-error">    
                <h1>Error: JavaScript disabled.</h1>
                We notice that you have JavaScript disabled in your browser. This website requires JavaScript to be enabled. Please enable JavaScript to use this website.
            </div>
        </noscript>
      	
      	<!--[if lt IE 9]>
            <br/><br/><br/>
            <div class="alert alert-warning">
            <h1>Error: Incompatible browser.</h1>
            <p>You are using an <strong>outdated</strong> browser which cannot display this website correctly. Please use the latest version of <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> or <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> instead.</p>
            </div>
        <![endif]-->
