#parse("header.vm")

#set($unescapedIndexStructureJson = $indexStructureJson) ## variables with 'unescaped' in the name are not html-escaped, see BaseResponse.java

<script>
    var SINGLEPAGE = SINGLEPAGE || {};
    SINGLEPAGE.INDEX = JSON.parse("$esc.javascript($unescapedIndexStructureJson)");
    var PROPS_IN_COLUMNS = "$websiteConfig.getPropColumns()".split(',');
    var PAGESIZE = $pageSize;
</script>

<script src="$jspath/search.js?_$cache"></script>

<div id="vue-root"></div>


#parse("footer.vm")

