#macro( filterfields $fields)
	<div class="form-horizontal">
	#foreach($docfield in $fields)
		<div class="form-group filterfield" id="$docfield.getId()" data-filterfield-type="$docfield.getType()"> <!-- Behaves as a .row, so every child element should have some form of .col-* -->
			<label class="col-xs-12">$docfield.getDisplayName()</label>

			#if($docfield.getType() == "select" && !$docfield.getValidValues().isEmpty())
				<div class="col-xs-12">
					<select title="$docfield.getDisplayName()" class="selectpicker form-control forminput" data-container="body" multiple>
				
					#foreach($pair in $docfield.getValidValues())
						<option value="$pair.getValue()">$pair.getDescription()</option>
					#end
					</select>
				</div>
			#elseif($docfield.getType() == "combobox")
				<div class="col-xs-12">
					<select data-placeholder="$docfield.getDisplayName()" class="autocomplete" data-class="form-control forminput"> 
					#foreach($pair in $docfield.getValidValues())
						<option value="$pair.getValue()">$pair.getDescription()</option>
					#end
					</select>
				</div>
			#elseif($docfield.getType() == "range")
				<div class="col-xs-4">
					<input type="text" placeholder="From" class="form-control forminput" />
				</div>
				<div class="col-xs-4">
					<input type="text" placeholder="To" class="form-control forminput" />
				</div>
			#else
				<div class="col-xs-12">
					<input type="text" placeholder="$docfield.getDisplayName()" class="form-control forminput" />
				</div>
			#end

		</div>
	#end
	</div>
#end

#parse("header.vm")

<link rel="stylesheet" href="$pathToTop/css/cql_querybuilder.css">
<script src="$pathToTop/js/vendor/mustache.js"></script>
<script src="$pathToTop/js/vendor/URI.js"></script>
<script src="$pathToTop/js/qson.js"></script>
<script src="$pathToTop/js/singlepage.js"></script>
<script src="$pathToTop/js/singlepage-bls.js"></script>
<script src="$pathToTop/js/singlepage-form.js"></script>
<script src="$pathToTop/js/singlepage-interface.js"></script>
<script src="$pathToTop/js/cql_querybuilder.js"></script>
<script src="$pathToTop/js/singlepage-cqlparser.js"></script>
<script>
	var BLS_URL = "$blsUrl";
	var wordProperties = [
	#foreach($propertyField in $propertyFields)
		{
			id: "$propertyField.getId()",
			displayName: "$propertyField.getDisplayName()"
		},
	#end
	];
</script>

<!--
<div class="container">
	<noscript>
		<br/><br/><br/>
		<div class="alert alert-error">
			<h1>Error: JavaScript disabled.</h1>
			We notice that you have JavaScript disabled in your browser. This website requires JavaScript to be enabled. Please enable JavaScript to use this website.
		</div>
	</noscript>


	<div class="row">
-->


<form onsubmit="return SINGLEPAGE.CORE.searchSubmit();" class="clearfix">
<div id='searchFormDiv' class="col-xs-12 contentbox">
	#if($corpusOwner)<a href='..'><i class="fa fa-arrow-left"></i> back to my corpora</a>#end
	<h2>$corpusName #if($corpusOwner)<span id='corpusOwner'>($corpusOwner)</span>#end</h2>

	<div class="row">
		<div class="col-xs-12 col-md-6" id="searchContainer">
			<h3>Search for &hellip;</h3>
			<ul class="nav nav-tabs" id="searchTabs">
				<li class="active"><a href="#simple" data-toggle="tab" class="querytype">Simple</a></li>
				<li><a href="#advanced" data-toggle="tab" class="querytype">Advanced</a></li>
				<li><a href="#query" data-toggle="tab" class="querytype">CQL query</a></li>
			</ul>
			<div class="tab-content haspadding-15">
				<div class="tab-pane active" id="simple">
					<div class="form-horizontal">
					#foreach($propertyField in $propertyFields)
						#set ($propertyFieldInputId = $propertyField.getId() + "_value")
						#set ($propertyFieldCaseId = $propertyField.getId() + "_case")

						<div class="form-group propertyfield" id="$propertyField.getId()"> <!-- behaves as .row when in .form-horizontal so .row may be omitted -->
							<label for="$propertyFieldInputId" class="col-xs-12 col-md-3">$propertyField.getDisplayName()</label>
							<div class="col-xs-12 col-md-9">
								<input type="text" id="$propertyFieldInputId" name="propertyFieldInputId" placeholder="$propertyField.getDisplayName()" class="form-control"/>
								#if($propertyField.isCaseSensitive())
								<div class="checkbox"><label for="propertFieldCaseId"><input type="checkbox" id="$propertyFieldCaseId" name="$propertyFieldCaseId"> Case&nbsp;sensitive</label></div>
								#end
							</div>
						</div>
					#end
					</div>

				</div>
				<div class="tab-pane" id="advanced">
					<div id="querybuilder"></div>
				</div>
				<div class="tab-pane" id="query">
					<h3>Corpus Query Language:</h3>
					<div class="row">
						<div class="col-xs-12">
							<textarea id="querybox" class="form-control" name="querybox" rows="7"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>

		#if($metadataGroups.isEmpty()) ## Only display ungrouped fields if no other groups are present
			#set($_ = $metadataGroups.put("Metadata", $ungroupedMetadataFields))
		#end
		#set($useFilterTabs = ($metadataGroups.size() > 1)) ##only use tabs when we have more than one group to display
		<div class="col-xs-12 col-md-6" id="filterContainer">
			<h3>Filter search by &hellip;</h3>
			
		#if($useFilterTabs) 
			<ul class="nav nav-tabs">
			#foreach($group in $metadataGroups.entrySet())
				#set($groupName = $group.key)
				#set($groupId = $groupName.replace(" ", ""))
				<li #if($velocityCount == 1) class="active" #end>
					<a href="#$groupId" data-toggle="tab">$groupName</a>
				</li>
				#set($firstGroup = "false")
			#end
			</ul>
			<div class="tab-content">
			#foreach($group in $metadataGroups.entrySet())
				#set($groupName = $group.key)
				#set($groupId = $groupName.replace(" ", ""))
				<div class="tab-pane #if($velocityCount == 1) active #end" id="$groupId">
					#filterfields($group.value)
				</div>
				#set($firstGroup = "false")			
			#end
			</div>
		#else ## $useFilterTabs
			#foreach($group in $metadataGroups.entrySet())
				<div class="tab-content">
				#filterfields($group.value)
				</div>
			#end
		#end
			<div class="row">
				<div class="col-xs-8"><span id="filteroverview"></span></div>
			</div>
		</div>

		<div class="col-xs-12">
			<hr>
			<div style="display:inline-block; position: absolute; bottom: 0;">
				<input type="submit" class="btn btn-primary btn-lg" value="Search">
				<a href="?" onclick="return SINGLEPAGE.CORE.resetPage();" class="btn btn-default btn-lg">Reset</a>
			</div>
			
			<button type="button" class="btn btn-lg btn-default pull-right" data-toggle="modal" data-target="#settingsModal"><span class="glyphicon glyphicon-cog" style="vertical-align:text-top;"></span></button>
		</div>
	</div>
</div>


<div id="settingsModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Global settings</h4>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">

					<div class="form-group"> <!-- behaves as .row when in .form-horizontal so .row may be omitted -->
						<label for="resultsPerPage" class="col-xs-3">Results per page:</label>
						<div class="col-xs-9">
							<select id="resultsPerPage" name="resultsPerPage" class="selectpicker" data-width="auto" data-style="btn-default">
								<option value="20">20 results</option>
								<option value="50">50 results</option>
								<option value="100">100 results</option>
								<option value="200">200 results</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="sampleSize" class="col-xs-3">Sample size:</label>
						<div class="col-xs-9">
							<div class="input-group">
								<select  id="sampleMode" name="sampleMode" class="selectpicker" data-width="auto" data-style="btn-default">
									<option value="percentage" selected>percentage</option>
									<option value="count">count</option>
								</select>

								<input id="sampleSize" name="sampleSize" placeholder="sample size" type="number" class="form-control"/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="sampleSeed" class="col-xs-3">Seed:</label>
						<div class="col-xs-9">
							<input id="sampleSeed" name="sampleSeed" placeholder="seed" type="number" class="form-control" >
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" name="closeSettings" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<div id="errorDiv" class="col-xs-12 alert alert-danger" style="display:none;">
	<h1>Error</h1>
	<p id="errorMessage"></p>
	<p>(for assistance, please contact <a href='mailto:servicedesk@ivdnt.org'>servicedesk@ivdnt.org</a>)</p>
</div>

<div class="col-xs-12 contentbox" id="results">
	<div id='totalsReport'>
		<div id="totalsReportText" class="pull-right"></div>
		<span id='totalsSpinner' class="fa fa-spinner fa-spin searchIndicator" style="font-size:20px; padding: 4px; margin: 0px 10px;"></span>
	</div>

	<!-- No initially active tab by design -->
	<ul id="resultTabs" class="nav nav-tabs">
		<li><a href="#tabHits" data-toggle="tab">Per Hit</a></li>
		<li><a href="#tabDocs" data-toggle="tab">Per Document</a></li>
	</ul>

	<div id="resultTabsContent" class="tab-content">
		<div id="tabHits" class="tab-pane">
			<div class="clearfix resultcontrols">
				<select class="selectpicker groupselect" title="Group hits by..." data-size="15" data-style="btn-default btn-sm" multiple>
					<optgroup label="Left context">
						#foreach($propertyField in $propertyFields)
						<option value="wordleft:$propertyField.getId()">Group by $propertyField.getDisplayName()</option>
						#end
					</optgroup>
					<optgroup label="Hit">
						#foreach($propertyField in $propertyFields)
						<option value="hit:$propertyField.getId()">Group by $propertyField.getDisplayName()</option>
						#end
					</optgroup>
					<optgroup label="Right context">
						#foreach($propertyField in $propertyFields)
						<option value="wordright:$propertyField.getId()">Group by $propertyField.getDisplayName()</option>
						#end
					</optgroup>
					#foreach($group in $metadataGroups.entrySet())
					<optgroup label="$group.key">
						#foreach($metadataField in $group.value)
						<option value="field:$metadataField.getId()">Group by $metadataField.getDisplayName()</option>
						#end
					</optgroup>
					#end
				</select>
				
				<div class="resultgroupdetails btn btn-sm btn-default nohover">
					<span class="fa fa-exclamation-triangle text-danger"></span> Viewing group <span class="resultgroupname"></span> &mdash; <a class="clearviewgroup" href="javascript:void(0)">Go back</a></span>
				</div>
				
				<button type="button" class="btn btn-default btn-sm pull-right exportcsv" style="margin-left: 5px;">Export CSV</button>
				<button type="button" class="btn btn-danger btn-sm pull-right" data-toggle="collapse" data-target=".doctitle">Show/hide titles</button>
				<br>
				<ul class="pagination pagination-sm"></ul>
			</div>

			<span class="fa fa-spinner fa-spin searchIndicator" style="position:absolute; left: 50%; top:15px"></span>

			<div class="lightbg haspadding resultcontainer">
				<table>
				<tbody>
				</tbody>
				</table>
			</div>
		</div> <!-- tabHits -->

		<div id="tabDocs" class="tab-pane">
			<div class="clearfix resultcontrols">
				<select class="selectpicker groupselect" title="Group documents by..." data-size="15" data-style="btn-default btn-sm" multiple>
					#foreach($group in $metadataGroups.entrySet())
					<optgroup label="$group.key">
						#foreach($metadataField in $group.value)
						<option value="field:$metadataField.getId()">Group by $metadataField.getDisplayName()</option>
						#end
					</optgroup>
					#end
				</select>

				<div class="resultgroupdetails btn btn-sm btn-default nohover">
					<span class="fa fa-exclamation-triangle text-danger"></span> Viewing group <span class="resultgroupname"></span> &mdash; <a class="clearviewgroup" href="javascript:void(0)">Go back</a></span>
				</div>

				<button type="button" class="btn btn-default btn-sm pull-right exportcsv">Export CSV</button>

				<br>
				<ul class="pagination pagination-sm"></ul>
			</div>

			<span class="fa fa-spinner fa-spin searchIndicator" style="position:absolute; left: 50%; top:15px"></span>

			<div class="lightbg haspadding resultcontainer">
				<table>
				<tbody>
				</tbody>
				</table>
			</div>
		</div> <!-- tabDocs -->
	</div>

	</div>

</form>

#parse("footer.vm")

