<Configuration strict="true">

    <Filter type="ThresholdFilter" level="debug"/>
    
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DATE} [%.4t] %-5p  %m%n"/>
            <ThresholdFilter level="debug"/>
        </Console>
        
        <File name="file" fileName="/vol1/logs/corpus-frontend.log">
            <PatternLayout pattern="%d{DATE} [%.4t] %-5p  %m%n"/>
            <ThresholdFilter level="info"/>
        </File>
    
    </Appenders>
    
    <Loggers>
        <Root level="trace">
            <!-- route messages to the following appenders - ref referring to the "name" attribute of the appenders above -->
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>

</Configuration>
