#parse("header.vm")
<script src="$pathToTop/js/article.js"></script>
<div class="hitscroll">
<a href="" onclick="ANCHORS.gotoPrevious(); return false;"><b>&laquo; Previous hit</b></a> | <a href="" onclick="ANCHORS.gotoNext(); return false;"><b>Next hit &raquo;</b></a>
</div>
$!article_meta
$!article_content
#parse("footer.vm")