#parse("header.vm")

<div class="span12 contentbox">

<h1 id='header-top'>Available corpora</h1>

<!-- NOTE: using a table because we'd like to automatically 
     size width to longest corpus name. There's probably better ways. -->
<table class='corpora'>
	<tbody>
		<tr>
			<td colspan='2'><h2 id='header-public'>Public corpora</h2></td>
		</tr>
	</tbody>	
	<tbody id='corpora'></tbody>
	<tbody>
		<tr>
			<td colspan='2'>
				<h2 id='header-private'>Your corpora</h2>
				<p id='logged-in-as'>(logged in as <span id='userId'>...</span>)</p>
				
				<div id='successDiv' class="alert alert-success" role="alert">
					<span id='successMessage'></span>
				</div>
				<div id='errorDiv' class="alert alert-danger" role="alert">
					<span id='errorMessage'></span>
				</div>
			</td>
		</tr>
	</tbody>	
	<tbody id='corpora-private'></tbody>
</table>

<input class="btn" id='create-corpus' type='button' value='New corpus' />

<div id='waitDisplay'>
    <p class="text-center"><i class="fa fa-spinner fa-spin"></i></p>
</div>

<form id="uploadForm" method="POST">
	<h2>Add <span id="uploadFormat"></span>data to <span id='uploadCorpusName'>corpus</span>:</h2>
	<p>(you may upload an .xml file, or a .zip or .tar.gz archive containing .xml files)</p> 
	<input type="file" id="uploadFile" name="data" />
	<button class="btn" type="submit" id="uploadSubmit">Upload</button>
</form>


<script>
var blsUrl = "$blsUrl";
</script>
<script src="$pathToTop/js/corpora.js"></script>

</div>
	
#parse("footer.vm")