            </div>
            <hr>
			
			<footer>
                <p>INL Corpus Search Interface v1.0.14 &copy; <a href="http://www.inl.nl">INL</a> 2013</p>
            </footer>

        </div> <!-- /container -->
		
		#if($websiteconfig.getGoogleAnalyticsKey().length() > 0)
		<script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '$websiteconfig.getGoogleAnalyticsKey()']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
		</script>
		#end
    </body>
</html>