#macro( filterfields $fields)
	#foreach($docfield in $fields)
    	#set ($value = $responseObject.getParameterValue("${docfield.getSearchField()}"))
        <div>
        	<div class="span2">$docfield.getName()</div>
        	<div class="span3">
        		#if($docfield.restrictedInput())
					#set ($multivalues = $responseObject.getParameterValuesAsList($docfield.getSearchField(), ""))					
        			#if($docfield.getType() == "multiselect")
	        		<select id="$docfield.getSearchField()-select" name="$docfield.getSearchField()" placeholder="$docfield.getName()" multiple class="multiselect forminput">
        			#else
	        		<select id="$docfield.getSearchField()" name="$docfield.getSearchField()" placeholder="$docfield.getName()" class="forminput">
					#end
        			#foreach($pair in $docfield.getValidValues())
        				#set($selected = '')
						#set($selectvalue = '')
						#if($pair.getValue().length() > 0)
							#set($selectvalue = "${pair.getValue()}")
						#end
        				#if($multivalues.contains("${pair.getValue()}"))
        					#set($selected = 'selected')
        				#end
                        <option value="$selectvalue" $!selected>$pair.getDescription()</option>
        			#end
        			</select>
        			#if($docfield.getType() == "multiselect")
        			<div class='multiselect-hint' id="$docfield.getSearchField()-hint">(to select multiple options, use Ctrl+click)</div>
        			<input id="$docfield.getSearchField()-input" class='multiselect' type='text' />
					#end
        		#else
        			#if($docfield.getType() == "date")
        				#set ($fieldName = $docfield.getSearchField())
        				#set ($fieldFrom = "${fieldName}__from")
        				#set ($fieldTo = "${fieldName}__to")
        				#set ($valueFrom = $responseObject.getParameterValue($fieldFrom))
        				#set ($valueTo = $responseObject.getParameterValue($fieldTo))
        				<input type="text" id="$docfield.getSearchField()__from" name="$docfield.getSearchField()__from" value="$!valueFrom" placeholder="From" class="span1 forminput" />
        				<input type="text" id="$docfield.getSearchField()__to" name="$docfield.getSearchField()__to" value="$!valueTo" placeholder="To" class="span1 forminput" />
        			#else
        				<input type="text" id="$docfield.getSearchField()" name="$docfield.getSearchField()" value="$!value" placeholder="$docfield.getName()" class="forminput" />
        			#end
        		#end
        	</div>
        </div>
    #end
#end

#parse("header.vm")
<script src="$pathToTop/js/singlepage.js"></script>
<script src="$pathToTop/js/singlepage-bls.js"></script>
<script>
    var BLS_URL = "$blsUrl";
    var wordProperties = [#foreach($wordfield in $wordproperties)#if($velocityCount > 1), #end"$wordfield.getSearchField()"#end];
</script>

<form onsubmit="return SINGLEPAGE.searchSubmit();">
<div class="span12 contentbox">
	#if($corpusOwner)<h3>$corpusOwner's private corpora</h3>#end
	<h2>$corpusName</h2>
	<ul class="nav nav-tabs" id="searchTabs">
		<li><a href="#simple" data-toggle="tab" class="querytype">Simple</a></li>
		<li><a href="#query" data-toggle="tab" class="querytype">CQL query</a></li>
	</ul>
	<div class="tab-content span5">
		<div class="tab-pane" id="simple">
			<div>
				<strong>Search for...</strong><br>

				<div class="alert alert-error" style='display: none;'>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<b>Error!</b> <span id='searchErrorText'>(text here)</span>
                </div>

				#foreach($wordfield in $wordproperties)
					#set ($fieldid = $wordfield.getSearchField() + "_text")
					#set ($fieldfuzzid = $wordfield.getSearchField() + "_fuzzy")
					#set ($fieldcaseid = $wordfield.getSearchField() + "_case")
				<div class="span5">
					<div class="span2">$wordfield.getName()</div>
					<div class="span3"><input type="text" data-target="#$wordfield.getSearchField()" data-toggle="collapse" id="$fieldid" name="$wordfield.getSearchField()" placeholder="$wordfield.getName()"/>
						<div class="collapse textchecks" id="$wordfield.getSearchField()">
							#if($wordfield.isSensitive())
							<label class="checkbox inline"><input type="checkbox" id="$fieldcaseid"> Case&nbsp;sensitive</label>
							#end
							#if($wordfield.isFuzzy())
							<label class="checkbox inline"><input type="checkbox" id="$fieldfuzzid" disabled> Fuzzy&nbsp;search</label>
							#end
						</div>
					</div>
				</div>	
				#end
			</div>
		</div>
		<div class="tab-pane" id="query">
			<strong>Corpus Query Language:</strong><br><textarea class="span5" id="querybox" name="querybox" rows="7"></textarea>
		</div>
	</div>
	<div class="span5 pull-right">
		<strong>Filter search by</strong><br>
		#if($websiteconfig.hasTabGroups())
    		<ul class="nav nav-tabs" id="filtertabs">
    		#foreach($tabname in $websiteconfig.getTabGroups())
    			#set($tabid = $tabname.replace(" ", ""))
    			<li><a href="#$tabid" data-toggle="tab">$tabname</a></li>
    		#end
    		</ul>
    		<div class="tab-content">
    		#foreach($tabname in $websiteconfig.getTabGroups())
    			#set($tabid = $tabname.replace(" ", ""))
				<div class="tab-pane" id="$tabid">
    			#set($fields = $websiteconfig.getFieldsInTabGroup($tabname))
    			#filterfields($fields)
    			</div>
    		#end
    		</div>
		#else	
			#set($fields = $websiteconfig.getFieldsInTabGroup(""))
			#filterfields($fields)
		#end
		<div id="filteroverview" class="span5"></div>
	</div>
	
	<div class="span12">
		<hr>
		<div class="span2">
			<input type="submit" class="btn btn-primary btn-large" value="Search" id="searchbutton">
		</div>
		<div class="span1">
			<a href="?" onclick="return SINGLEPAGE.resetPage();" class="btn btn-large" id="resetbutton">Reset</a>
		</div>
		<div class="pull-right">
			<strong class="vtop">Show me: </strong>
			<select class="span2 vtop" id="resultsPerPage">
				<option value="20">20 results</option>
				<option value="50">50 results</option>
				<option value="100">100 results</option>
				<option value="200">200 results</option>
			</select> 
		</div>
	</div>
</div>
<br><br>

<div id="errorDiv">
    <h1>Error</h1>
    <p id="errorMessage"></p>
    <p>(for assistance, please contact <a href='mailto:servicedesk@inl.nl'>servicedesk@inl.nl</a>)</p>
</div>

<div id="searchSummary" class="pull-right">
</div>

<div class="span12 contentbox" id="results">
	<div id='totalsReport' class="pull-right"></div>
	<div id='waitDisplay'>
        <p class="text-center"><i class="fa fa-spinner fa-spin"></i></p>
    </div>
	<ul class="nav nav-tabs" id="contentTabs">
		<li><a href="#tabHits" data-toggle="tab" class="resultstype">Per Hit</a></li>
		<li><a href="#tabDocs" data-toggle="tab" class="resultstype">Per Document</a></li>
		<li><a href="#tabHitsGrouped" data-toggle="tab" class="resultstype">Hits grouped</a></li>
		<li><a href="#tabDocsGrouped" data-toggle="tab" class="resultstype">Documents grouped</a></li>
	</ul>
    <div class="pagination">
		<ul class="pagebuttons"></ul>
		<button type="button" class="showHideTitles btn btn-small btn-danger" data-toggle="collapse" data-target=".doctitle" style="vertical-align: top; margin-top: 2px;">Show/hide titles</button>
	</div>
	<div id='resultsTabs' class="span12 tab-content">
		<div class="tab-pane lightbg haspadding" id="tabHits">
			<div id="hitsPagination"></div>
            <table id='hitsTable'>
                <thead>
                    <tr class="tbl_head">
                        <th class="tbl_conc_left">
                            <div class="dropdown pull-right">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="left">Left context <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="left">
                                    <li><a class='sortLeftWord'>Word</a></li>
                                    <li><a class='sortLeftLemma'>Lemma</a></li>
                                    <li><a class='sortLeftPos'>P.o.S.</a></li>
                                </ul>
                            </div>
                        </th>
                        <th class="tbl_conc_hit"><a class='sortHitWord'>Hit text</a></th>
                        <th class="tbl_conc_right">
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="right">Right context <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="right">
                                    <li><a class='sortRightWord'>Word</a></li>
                                    <li><a class='sortRightLemma'>Lemma</a></li>
                                    <li><a class='sortRightPos'>P.o.S.</a></li>
                                </ul>
                            </div>                          
                        </th>
                        <th class="tbl_lemma"><a class='sortHitLemma'>Lemma</a></th>
                        <th class="tbl_pos"><a class='sortHitPos'>Part of speech</a></th>
                    </tr>
                </thead>
                <tbody id="hitsTableBody">
                </tbody>
            </table>
		</div>
		
		<div class="tab-pane lightbg haspadding" id="tabDocs">
	        <table id='docsTable' class="documents">
	            <thead>
	                <tr class="tbl_head">
	                    <th class="tbl_doct"><a href='#' class='sortTitle'>Document title</a></th>
	                    <th class="tbl_year"><a href='#' class='sortDate'>Year</a></th>
	                    <th class="tbl_hits"><a href='#' class='sortNumHits'>Hits</a></th>
	                </tr>
	            </thead>
	            <tbody id="docsTableBody">
	            </tbody>
	        </table>
		</div>
		
		<div class="tab-pane" id="tabHitsGrouped">
			<select class="input" id="groupHitsBy">
				<option value="" disabled="true" selected="true">Group hits by...</option>
				<option value="field:title">Group by document title</option>
				<option value="hit">Group by hit text</option>
				<option value="hit:lemma">Group by lemma</option>
				<option value="hit:pos">Group by hit pos</option>
				<option value="hit:lemma,hit:pos">Group by lemma and PoS</option>
				<option value="wordleft">Group by word left</option>
				<option value="wordright">Group by word right</option>
				<option value="field:yearFrom">Group by year</option>
				<option value="decade:yearFrom">Group by decade</option>
			</select>
			
			<div id="resultsHitsGrouped" class="lightbg haspadding">
                <table id='hitsGroupedTable'>
                    <thead>
                        <tr>
                            <th class="tbl_groupname">
                            	<a href='#' class="sortGroupIdentity">Group</a>
                            </th>
                            <th>
                            	<a href='#' class='sortGroupNumHits'>Hits</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>                
                    </tbody>
                </table>
			</div>
			
		</div>		
		
		<div class="tab-pane" id="tabDocsGrouped">
			<select class="input" id="groupDocsBy">
				<option value="" disabled="true" selected="true">Group documents by...</option>
				<option value="numhits">Group by number of hits</option>
				<option value="field:yearFrom">Group by year</option>
				<option value="decade:yearFrom">Group by decade</option>
				<option value="field:author">Group by author</option>
			</select>
			
			<div id="resultsDocsGrouped" class="lightbg haspadding">
                <table id='docsGroupedTable'>
                    <thead>
                        <tr>
                            <th class="tbl_groupname">
                            	<a href='#' class="sortGroupIdentity">Group</a>
                            </th>
                            <th>
                            	<a href='#' class='sortGroupNumHits'>Hits</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
			</div>
			
		</div>
		
	</div>
    <div class="pagination">
		<ul class="pagebuttons"></ul>
		<button type="button" class="showHideTitles btn btn-small btn-danger" data-toggle="collapse" data-target=".doctitle" style="vertical-align: top; margin-top: 2px;">Show/hide titles</button>
	</div>
	
</div>

</form>

<p id="debugInfo"></p>
#parse("footer.vm")

