#macro( filterfields $fields)
	#foreach($docfield in $fields)
    	#set ($value = $responseObject.getParameterValue("${docfield.getSearchField()}"))
        <div>
        	<div class="span2">$docfield.getName()</div>
        	<div class="span3">
        		#if($docfield.restrictedInput())
					#set ($quotechar = '"')
					#set ($multivalues = $responseObject.getParameterValuesAsList($docfield.getSearchField(), ""))					
        			#if($docfield.getType() == "multiselect")
	        		<select id="$docfield.getSearchField()-select" name="$docfield.getSearchField()" placeholder="$docfield.getName()" multiple class="multiselect forminput">
        			#else
	        		<select id="$docfield.getSearchField()" name="$docfield.getSearchField()" placeholder="$docfield.getName()" class="forminput">
					#end
        			#foreach($pair in $docfield.getValidValues())
        				#set($selected = '')
						#set($selectvalue = '')
						#if($pair.getValue().length() > 0)
							#set($selectvalue = "&quot;${pair.getValue()}&quot;")
						#end
        				#if($multivalues.contains("$quotechar${pair.getValue()}$quotechar"))
        					#set($selected = 'selected')
        				#end
                        <option value="$selectvalue" $!selected>$pair.getDescription()</option>
        			#end
        			</select>
        			#if($docfield.getType() == "multiselect")
        			<div class='multiselect-hint' id="$docfield.getSearchField()-hint">(to select multiple options, use Ctrl+click)</div>
        			<input id="$docfield.getSearchField()-input" class='multiselect' type='text' />
					#end
        		#else
        			#if($docfield.getType() == "date")
        				#set ($fieldName = $docfield.getSearchField())
        				#set ($fieldFrom = "${fieldName}__from")
        				#set ($fieldTo = "${fieldName}__to")
        				#set ($valueFrom = $responseObject.getParameterValue($fieldFrom))
        				#set ($valueTo = $responseObject.getParameterValue($fieldTo))
        				<input type="text" id="$docfield.getSearchField()__from" name="$docfield.getSearchField()__from" value="$!valueFrom" placeholder="From" class="span1 forminput" />
        				<input type="text" id="$docfield.getSearchField()__to" name="$docfield.getSearchField()__to" value="$!valueTo" placeholder="To" class="span1 forminput" />
        			#else
        				<input type="text" id="$docfield.getSearchField()" name="$docfield.getSearchField()" value="$!value" placeholder="$docfield.getName()" class="forminput" />
        			#end
        		#end
        	</div>
        </div>
    #end
#end

#parse("header.vm")
<script src="$pathToTop/js/singlepage.js"></script>

#if($max == 20)
	#set ($twenty = "selected")
#elseif($max == 100)
	#set ($hundred = "selected") 
#elseif($max == 200)
	#set ($twohundred = "selected") 
#else
	#set ($fifty = "selected") 
#end

<form onsubmit="return spaDoSearch();">
<div class="span12 contentbox">
	<h2>$title</h2>
	<ul class="nav nav-tabs" id="searchTabs">
		<li><a href="#simple" data-toggle="tab" class="querytype">Simple</a></li>
		<li><a href="#query" data-toggle="tab" class="querytype">CQL query</a></li>
	</ul>
	<div class="tab-content span5">
		<div class="tab-pane" id="simple">
			<div>
				<strong>Search for...</strong><br>

				<div class="alert alert-error" style='display: none;'>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<b>Error!</b> <span id='searchErrorText'>(text here)</span>
                </div>

				<script>var wordProperties = [#foreach($wordfield in $wordproperties)#if($velocityCount > 1), #end"$wordfield.getSearchField()"#end];</script>
				#foreach($wordfield in $wordproperties)
					#set ($fieldid = $wordfield.getSearchField() + "_text")
					#set ($fieldfuzzid = $wordfield.getSearchField() + "_fuzzy")
					#set ($fieldcaseid = $wordfield.getSearchField() + "_case")
				<div class="span5">
					<div class="span2">$wordfield.getName()</div>
					<div class="span3"><input type="text" data-target="#$wordfield.getSearchField()" data-toggle="collapse" id="$fieldid" name="$wordfield.getSearchField()" placeholder="$wordfield.getName()"/>
						<div class="collapse textchecks" id="$wordfield.getSearchField()">
							#if($wordfield.isSensitive())
							<label class="checkbox inline"><input type="checkbox" id="$fieldcaseid"> Case&nbsp;sensitive</label>
							#end
							#if($wordfield.isFuzzy())
							<label class="checkbox inline"><input type="checkbox" id="$fieldfuzzid" disabled> Fuzzy&nbsp;search</label>
							#end
						</div>
					</div>
				</div>	
				#end
			</div>
		</div>
		<div class="tab-pane" id="query">
			<strong>Corpus Query Language:</strong><br><textarea class="span5" id="querybox" name="querybox" rows="7"></textarea>
		</div>
	</div>
	<div class="span5 pull-right">
		<strong>Filter search by</strong><br>
		#if($websiteconfig.hasTabGroups())
    		<ul class="nav nav-tabs" id="filtertabs">
    		#foreach($tabname in $websiteconfig.getTabGroups())
    			#set($tabid = $tabname.replace(" ", ""))
    			<li><a href="#$tabid" data-toggle="tab">$tabname</a></li>
    		#end
    		</ul>
    		<div class="tab-content">
    		#foreach($tabname in $websiteconfig.getTabGroups())
    			#set($tabid = $tabname.replace(" ", ""))
				<div class="tab-pane" id="$tabid">
    			#set($fields = $websiteconfig.getFieldsInTabGroup($tabname))
    			#filterfields($fields)
    			</div>
    		#end
    		</div>
		#else	
			#set($fields = $websiteconfig.getFieldsInTabGroup(""))
			#filterfields($fields)
		#end
		<div id="filteroverview" class="span5"></div>
	</div>
	<div class="span12">
		<hr>
		<div class="span2">
			<input type="submit" class="btn btn-primary btn-large" value="Search" id="searchbutton">
		</div>
		<div class="span1">
			<a href="" class="btn btn-large" id="resetbutton">Reset</a>
		</div>
		<div class="pull-right">
			<strong class="vtop">Show me: </strong>
			<select class="span2 vtop" name="max" onchange="document.searchform.submit();">
				<option value="20">20 results</option>
				<option value="50">50 results</option>
				<option value="100">100 results</option>
				<option value="200">200 results</option>
			</select> 
		</div>
	</div>
	
</div>
<br><br>
<script>
	// Set up search type tabs, multiselect, filter overview
	BLSEARCH.SEARCHPAGE.init();
</script>

<div class="span12 contentbox" id="results">
	<ul class="nav nav-tabs" id="contentTabs">
		<li><a data-toggle="tab" href="#tabHits">Per Hit</a></li>
		<li><a data-toggle="tab" href="#tabDocs">Per Document</a></li>
		<li><a data-toggle="tab" href="#tabHitsGrouped">Hits grouped</a></li>
		<li><a data-toggle="tab" href="#tabDocsGrouped">Documents grouped</a></li>
	</ul>
	<div class="span12 tab-content">
		<div class="tab-pane" id="tabHits">
			HITS
		</div>
		<div class="tab-pane" id="tabDocs">
			DOCS
		</div>
		<div class="tab-pane" id="tabHitsGrouped">
			HITS GROUPED
		</div>		
		<div class="tab-pane" id="tabDocsGrouped">
			DOCS GROUPED
		</div>
</div>

</form>
#parse("footer.vm")

