@font-face {
	font-family: 'Inl vmnw wnt';
	src: url('../font/INLVRG__.eot');
	src: local('Inl vmnw wnt'), url('../font/INLVRG__.TTF')
		format('truetype');
}

body {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: -350px -310px;
	background-attachment: scroll;
	padding-top: 60px;
	padding-bottom: 40px;
}

a:link, a:visited, a:active, a:hover {
	text-decoration: none;
}

a.ui-state-active {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	background-color: #f5f5f5;
}

a.ui-state-active:hover {
	outline: none;
}

a.ui-menu-item-wrapper {
	cursor: pointer;
}

.ui-autocomplete.dropdown-menu:before {
	/*content: "Values found";*/
	display: block;
	color: white;
	background-color: #337ab7;
	border-bottom: 1px solid #2e6da4;
	box-shadow: 0px 0px 8px #DDD;
	font-weight: 700;
	padding: 3px 12px;
	margin-bottom: 5px;
	margin-top: -5px;
}

.dropdown-menu>li>a:active, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover,
	.ui-menu .ui-menu-item .ui-state-hover, .ui-menu .ui-menu-item .ui-state-active
	{
	color: #262626;
	text-decoration: none;
	background-color: #ddd;
}


.navbar-logo-container {
	float: left;
	height: 1px;
	overflow: visible;
	margin-left: 15px;
	display: none;
}


@media ( min-width : 768px) {
	.navbar-logo-container {
		margin-right: 15px;
		margin-left: 0px;
	}
}

@media ( max-width : 992px) {
	.navbar>.container {
		width: auto;
	}
}

.navbar-logo {
	width: 100px;
	height: 100px;
	z-index: 9000;
	background-image: url(../img/logo_100x100.png)
}
/*
.navbar-logo-margin {
	margin-left: 100px !important;
}
*/

.navbar-brand {
	color: #dddddd !important;
}

.navbar-fixed-top {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tab-content {
	padding-top: 15px;
}

.modal-fullwidth {
	width: 100%;
	padding-left: 17px;
	padding-right: 17px;
}

.modal-fullwidth>.modal-dialog {
	margin: 30px auto;
	width: 100%;
	max-width: 1170px;
}

/* CodeMirror editor */
.cm-s-default {
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
}

.btn.nohover {
	cursor: initial;
	box-shadow: none;
}

.btn.btn-default.nohover {
	background-color: white !important;
	border-color: #ccc !important;
}

.btn.btn-info.nohover {
	background-color: #5bc0de !important;
	border-color: #46b8da !important;
}

.btn.btn-primary.nohover {
	background-color: #337ab7 !important;
	border-color: #2e6da4 !important;
}

.btn.btn-success.nohover {
	background-color: #5cb85c !important;
	border-color: #4cae4c !important;
}

.btn.btn-warning.nohover {
	background-color: #f0ad4e !important;
	border-color: #eea236 !important;
}

.btn.btn-danger.nohover {
	background-color: #d9534f !important;
	border-color: #d43f3a !important;
}


table {
	table-layout: fixed;
	width: 100%;
}

