@font-face {
    font-family: 'Inl vmnw wnt';
    src: url('../font/INLVRG__.eot');
    src: local('Inl vmnw wnt'),
    	 url('../font/INLVRG__.TTF') format('truetype');
    
}
a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
}

a.ui-state-active {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	background-color: #f5f5f5;
}a.ui-state-active:hover {
	outline: none;
}

a.ui-menu-item-wrapper {
	cursor: pointer;
}

.ui-autocomplete.dropdown-menu:before {
	content: "Example values";
	display: block;
	color:white;
	background-color: #337ab7;
	border-bottom: 1px solid #2e6da4;
	box-shadow: 0px 0px 8px #DDD;
	font-weight: 700;
	padding: 3px 12px;
	margin-bottom: 5px;
	margin-top: -5px;
}

hr {
	border-color: #000;
	opacity: 0.1;
}

div.booklogo {
	float: left;
	height: 1px;
	overflow: visible;
}

img.booklogo {
	width:100px;
	height:100px;
	z-index: 9000;
}

.navbar-collapse.booklogo-margin {
	margin-left: 85px !important;
}

.navbar-brand {
	color: #dddddd !important;
}

.navbar-fixed-top {
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.haspadding {
	padding: 5px;
}

.tab-content {
	padding-top: 15px;
}

.contentbox {
	background-color: rgba(208,218,228,0.6);
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #cccccc;
}

.resultcontainer {
	margin-top: 5px;
}
.resultcontainer td {
	overflow: hidden;
}.resultcontainer tr > *:first-child {
	padding-left: 6px;
}

.modal-fullwidth {
	width:100%;
	padding-left:17px;
	padding-right:17px;
}
.modal-fullwidth > .modal-dialog {
	margin: 30px auto;
	width: 100%;
	max-width:1170px;
}

/* CodeMirror editor */
.cm-s-default {
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075);
}


.lightbg {
	background-color: rgba(255,255,255,0.6);
	border: 1px solid #cccccc;
}

body {
	background: url('../img/logo.jpg');
	background-repeat:no-repeat;
	background-position:-350px -310px;
	background-attachment:scroll;
}

.green {
	color: #0e774a;
}

table {
	width: 100%;
	table-layout: fixed;
}

td {
	vertical-align: top;
}

th {
	text-align: left;
	background-color: #ffffff;
}
thead > tr {
	border-bottom: 1px solid #aaaaaa;	
}

tr:hover {
	background-color: rgba(0,0,0, 0.1);
}

tr.concordance {
	border-bottom: 1px solid #ffffff;
	cursor: pointer;
}

.documentrow > td {
	padding-bottom: 15px;
}

.group-size-indicator {
	margin-bottom: 2px;
}.group-size-indicator > .progress-bar {
	/*  
		Do not shrink smaller than the text inside the bar.
		Greater widths are set using min-width.
	*/
	
	width: initial; 
	padding: 0px 2px;
}

div.hitscroll {
	position: fixed;
	top: 100px;
	left: 60%;
	background-color: #444444;
	border: #222222 1px solid;
	z-index: 9001;	
	padding: 10px;
	border-radius: 5px;
}

div.hitscroll a {
	color: #dddddd; 
}

#filteroverview {
	color: #888888;
	font-size: 85%;
	padding-left: 1px;
}

.activeLink {
	background-color: #FFFF00;
}

span.word {
	font-family: "Inl vmnw wnt", "Helvetica Neue", "Helvetica", "Arial,sans-serif";
}

.linenumber {
	color: #aaaaaa;
	font-weight: bold;
}

.no-results-found {
    padding: 2cm;
    text-align: center;
    font-style: italic;
}

/* Corpora page */
#header-public, #header-private, #logged-in-as, .corpora.public, .corpora.private, #create-corpus {
	display: none;
}

table.corpora {
	width: auto;
	margin: 1em 0;
}

table.corpora td {
	font-size: 14pt;
	padding: 3px;
}

table.corpora th {
	font-size: 11pt;
	padding: 3px;
	background-color: inherit;
}

/* Don't change color when hovering over row (as in results table) */
table.corpora tr:hover {
	background-color: inherit;
}
col.corpus-name {
	width: 24%;
}
col.delete {
	width: 8%;
}

.inline-concordance {
	font-size: 12px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	padding: 0px 8px;
}

td.corpus-name a {
	color: inherit;
	text-decoration: none;
}
th.size,
td.size {
	text-align: right;
}

#uploadForm {
	margin-top: 1em;
	display: none;
}

table.corpora a.disabled {
   pointer-events: none;
   cursor: default;
   color: #bbb;
}

table.corpora a.icon {
	margin: 0 .8em;
}

a[data-bls-sort], a.dropdown-toggle {
	cursor: pointer;
}

/* Single-page */
#corpusOwner {
	font-size: 60%;
}

#querybox {
	width:100%;
	resize: none;
}

#errorDiv, #successDiv, #uploadErrorDiv, #uploadSuccessDiv {
	margin-top: 1em;
	display: none;
}

#totalsReport {
	color: #888;
	font-size: 85%;
}

#totalsReport {
	position: absolute;
    top: 1em;
    right: 1em;
}

#totalsSpinner {
	display: none;
	position: absolute;
	top: 1em;
	left: -2em;
}

.btn.nohover {
	cursor: initial;
	box-shadow: none;
}

.btn.btn-default.nohover {
	background-color: white!important;
	border-color: #ccc!important;
}

.btn.btn-info.nohover {
	background-color: #5bc0de!important;
	border-color: #46b8da!important;
}

.btn.btn-primary.nohover {
	background-color: #337ab7!important;
	border-color: #2e6da4!important;
}

.btn.btn-success.nohover {
	background-color: #5cb85c!important;
	border-color: #4cae4c!important;
}

.btn.btn-warning.nohover {
	background-color: #f0ad4e!important;
	border-color: #eea236!important;
}

.btn.btn-danger.nohover {
	background-color: #d9534f!important;
	border-color: #d43f3a!important;
}

#searchContainer, #filterContainer {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#filterContainer > .tab-content {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden; /* required due to negative margin-right of contents causing scrollbar otherwise */
}

#querybuilder {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;

	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border: 1px solid #ccc
}

.pagination {
	margin: 15px 0px 0px 0px;
}.pagination > li > a {
	/* No float shenanigans, they mess up the baseline of any container around pagination */
	display: inline-block;
	float: none;
}

#resultTabsContent {
	/* Important for position of the spinner */
	position: relative;
	min-height: 110px;
}

.searchIndicator {
	color: white;
	background-color: rgba(0,0,0,0.25);
	border-radius: 1000px;

	font-size: 80px;
	padding: 10px;
	margin-left: -50px;

	z-index: 1000;
}

.resultgroupdetails {
	border-radius: 100px;
}

.resultgroupname {
	font-style: italic;
	display: inline-block;
	overflow-x: hidden;
	margin-bottom: -5px;
	max-width: 150px;
	text-overflow: ellipsis;
	padding-right: 1px; /* :after quote gets cut off sometimes due to overflow-hidden */
}
.resultgroupname:before {
	content: "'";
}.resultgroupname:after {
	content: "'";
}

.clearviewgroup {
	font-weight: 700;
	text-decoration: underline!important;
	padding-left: 2px;
}

#corpus-delete-name {
	font-style: italic;
}

#searchFormDiv h3 {
	font-size: 1.4em;
}
#upload-file-dialog ul {
	margin: 0 0 1.6em 1.1em;
}
.fileinput-button {
	display: block;
	height: 12em;
	border: 4px dashed #00ACEA;
	border-radius: 1.8em;
	/* Override Bootstrap background gradiant for button */
	background-image: initial;
	background-color: rgba(0, 150, 204, 0.5);
}
/* Override Bootstrap button styling */
.btn.fileinput-button:hover,
.fileinput-button.hover {
	background-color: rgba(128, 207, 255, 0.5);
	border-color: #00C9F8;
}
.btn.fileinput-button > span {
	color: white;
}
.btn.fileinput-button > span + span {
	display: block;
}
.btn.fileinput-button:hover > span,
.fileinput-button.hover > span {
	color: #00ACEA;
}
/* Extend 'jquery.fileupload.css */
.fileinput-button input {
	height: 100%;
}
#upload-file-dialog .progress {
	margin: 1.2em 0;
}
