@font-face {
    font-family: 'Inl vmnw wnt';
    src: url('../font/INLVRG__.eot');
    src: local('Inl vmnw wnt'),
    	 url('../font/INLVRG__.TTF') format('truetype');
    
}

body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: -350px -310px;
    background-attachment: scroll;
    
    padding-top: 60px;
    padding-bottom: 40px;
}

a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
}

a.ui-state-active {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	background-color: #f5f5f5;
}a.ui-state-active:hover {
	outline: none;
}

a.ui-menu-item-wrapper {
	cursor: pointer;
}

.ui-autocomplete.dropdown-menu:before {
	content: "Values found";
	display: block;
	color:white;
	background-color: #337ab7;
	border-bottom: 1px solid #2e6da4;
	box-shadow: 0px 0px 8px #DDD;
	font-weight: 700;
	padding: 3px 12px;
	margin-bottom: 5px;
	margin-top: -5px;
}

hr {
	border-color: #000;
	opacity: 0.1;
}

.navbar-logo-container {
	float: left;
	height: 1px;
	overflow: visible;
	margin-left: 15px;
}

@media (min-width: 768px) {
	.navbar-logo-container {
		margin-right: 15px;
		margin-left: 0px;
	}
}
@media (max-width: 992px) {
	.navbar > .container {
		width: auto;
	}
}

.navbar-logo {
	width:100px;
	height:100px;
	z-index: 9000;
	background-image: url(../img/logo_100x100.png)
}

.navbar-logo-margin {
	margin-left: 100px !important;
}

.navbar-brand {
	color: #dddddd !important;
}

.navbar-fixed-top {
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.haspadding {
	padding: 5px;
}

.tab-content {
	padding-top: 15px;
}

.contentbox {
	background-color: rgba(208,218,228,0.6);
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #cccccc;
}

.resultcontainer {
	margin-top: 5px;
}
.resultcontainer td {
	overflow: hidden;
}.resultcontainer tr > *:first-child {
	padding-left: 6px;
}

.modal-fullwidth {
	width:100%;
	padding-left:17px;
	padding-right:17px;
}

.modal-fullwidth > .modal-dialog {
	margin: 30px auto;
	width: 100%;
	max-width:1170px;
}

/* CodeMirror editor */
.cm-s-default {
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075);
}


.lightbg {
	background-color: rgba(255,255,255,0.6);
	border: 1px solid #cccccc;
}

.green {
	color: #0e774a;
}

table {
	width: 100%;
	table-layout: fixed;
}

td {
	vertical-align: top;
}

th {
	text-align: left;
	background-color: #ffffff;
}
thead > tr {
	border-bottom: 1px solid #aaaaaa;	
}

tr:hover {
	background-color: rgba(0,0,0, 0.1);
}

tr.concordance {
	border-bottom: 1px solid #ffffff;
	cursor: pointer;
}

.documentrow > td {
	padding-bottom: 15px;
}

.group-size-indicator {
	margin-bottom: 2px;
}.group-size-indicator > .progress-bar {
	/*  
		Do not shrink smaller than the text inside the bar.
		Greater widths are set using min-width.
	*/
	
	width: initial; 
	padding: 0px 2px;
}

#filteroverview {
	color: #888888;
	font-size: 85%;
	padding-left: 1px;
}

/* article */

div.hitscroll {
	display:none; /* unhide with js */
	position: fixed;
	top: 100px;
	left: 60%;
	background-color: #444444;
	border: #222222 1px solid;
	z-index: 9001;	
	padding: 10px;
	border-radius: 5px;
}

div.hitscroll a {
	color: #eeeeee; 
}


.hl {
	font-weight: bold;
}

.hl.active {
	background-color: #FFFF00;
}

span.word {
	font-family: "Inl vmnw wnt", "Helvetica Neue", "Helvetica", "Arial,sans-serif";
}

.linenumber {
	color: #aaaaaa;
	font-weight: bold;
}

/* Single-page */

.no-results-found {
    padding: 2cm;
    text-align: center;
    font-style: italic;
}

.inline-concordance {
	font-size: 12px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	padding: 0px 8px;
}


a[data-bls-sort], a.dropdown-toggle {
	cursor: pointer;
}

#querybox {
	width:100%;
	resize: none;
	margin-bottom: 10px;
}

#totalsReport {
	color: #888;
	font-size: 85%;
}

#totalsReport {
	position: absolute;
    top: 20px; /* align with padding of #results */
    right: 20px;
    display: flex;
    align-items: center;
}

#totalsReportText {
	order: 2;
}

#totalsSpinner {
	display: none;
	order: 1
}

.btn.nohover {
	cursor: initial;
	box-shadow: none;
}

.btn.btn-default.nohover {
	background-color: white!important;
	border-color: #ccc!important;
}

.btn.btn-info.nohover {
	background-color: #5bc0de!important;
	border-color: #46b8da!important;
}

.btn.btn-primary.nohover {
	background-color: #337ab7!important;
	border-color: #2e6da4!important;
}

.btn.btn-success.nohover {
	background-color: #5cb85c!important;
	border-color: #4cae4c!important;
}

.btn.btn-warning.nohover {
	background-color: #f0ad4e!important;
	border-color: #eea236!important;
}

.btn.btn-danger.nohover {
	background-color: #d9534f!important;
	border-color: #d43f3a!important;
}

#searchContainer, #filterContainer {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#filterContainer > .tab-content {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden; /* required due to negative margin-right of contents causing scrollbar otherwise */
}

#querybuilder {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;

	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border: 1px solid #ccc
}

.pagination {
	margin: 15px 0px 0px 0px;
}.pagination > li > a {
	/* No float shenanigans, they mess up the baseline of any container around pagination */
	display: inline-block;
	float: none;
}

#resultTabsContent {
	/* Important for position of the spinner */
	position: relative;
	min-height: 110px;
}

.searchIndicator {
	color: white;
	background-color: rgba(0,0,0,0.25);
	border-radius: 1000px;

	font-size: 80px;
	padding: 10px;
	margin-left: -50px;

	z-index: 1000;
}

.resultgroupdetails {
	border-radius: 100px;
}

.resultgroupname {
	font-style: italic;
	display: inline-block;
	overflow-x: hidden;
	margin-bottom: -5px;
	max-width: 150px;
	text-overflow: ellipsis;
	padding-right: 1px; /* :after quote gets cut off sometimes due to overflow-hidden */
}
.resultgroupname:before {
	content: "'";
}.resultgroupname:after {
	content: "'";
}

.clearviewgroup {
	font-weight: 700;
	text-decoration: underline!important;
	padding-left: 2px;
}

#searchFormDiv h3 {
	font-size: 1.4em;
}

/* header for when search for is hidden */

#searchFormDivHeader {
	width: 100%;
	margin: 50px 0px 20px 0px;
	text-align: left;
	display: flex;
	align-items: center;
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}

#querySummary {
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 0.35em;
}

/* simple search upload buttons */
.upload-button-container {
	position: relative;
}
.upload-button {
	position: absolute;
	overflow: hidden;
	right: 15px;
	top: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.upload-button input {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0px;
	padding-left: 100%;
	overflow: hidden;
	opacity: 0;
	background: transparent;
	z-index: 2;
}

.upload-button-container .upload-button {
	display:none;
}
.upload-button-container:hover .upload-button,
.upload-button.has-file {
	display: block;
}