<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	version="3.0"
	
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
>

    <filter>
        <filter-name>jersey</filter-name>
        <filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.ivdnt.cf.rest.jersey.Setup</param-value>
        </init-param>


<!--
todo delete old servlet handling, use the filter instead, even for normal operations.
will require the frontend to become a proper spa, with a single entrypoint etc.
-->
<!--        <init-param>-->
<!--            <param-name>jersey.config.servlet.filter.staticContentRegex</param-name>-->
<!--            <param-value>/(css|favicon|fonts|img|js|jsp|WEB-INF|sw\.js)/?.*</param-value>-->
<!--        </init-param>-->
    </filter>
    <filter-mapping>
        <filter-name>jersey</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>corpus</servlet-name>
        <servlet-class>org.ivdnt.cf.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>corpus</servlet-name>
        <url-pattern>/page/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/font/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/doc/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>corpus</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
