.bl-selectpicker-hide-caret {
	padding-right:10px!important;
	padding-bottom: 3px;
	border-bottom-width:3px;

	border-bottom-color: black!important;
	border-bottom-style: solid;

	.filter-option-inner {
		padding: 0!important;
	}
}.bl-selectpicker-hide-caret:hover {
	border-bottom-color: ghostwhite;
}.bl-selectpicker-hide-caret .bs-caret {
	display:none!important;
}

.bl-no-border-radius {
	border-radius: 0px;
}
.bl-no-border-radius-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.bl-no-border-radius-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.bl-querybuilder-root {
	padding: 20px 20px 15px 20px;
}

.bl-token-container {
	display: flex;
	flex-direction: row;
	align-items: start;
	overflow-x: auto;
	margin-bottom: 15px;
	position: relative;
	padding-bottom: 20px;
}

.bl-token {
	margin: 0px 20px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: start;
}.bl-token .panel-heading {
	border-bottom-width: 0px;
	word-wrap: break-word;
}.bl-token .panel-body {
	/* padding is controlled by the per-tab contents */
	padding: 0px;
}.bl-token .tab-content {
	padding: 0px;
}
.bl-token-attribute-group {
	padding: 0px;
	/* 	No margin-top here, as the topmost group does not require spacing above it
		Spacing is instead done in all subgroups, which also have the well class */
	display: flex;
	flex-direction: column;
}
.bl-token-attribute-group.well {
	padding: 3px 8px 8px 8px;
	margin-top: 6px;
	margin-bottom: 0;

	box-shadow: 4px 4px 7px -3px rgba(0,0,0,0.38);
	border: 1px solid rgba(0,0,0,0.15);
}
.bl-token-attribute {
	margin-top: 6px;
}.bl-token-attribute-main {
	display: flex;
	align-items: center;
}.bl-token-attribute .checkbox {
	margin: 5px 0px 0px 19px;
}
.bl-token-attribute-main-input-container {
	flex-grow: 1;
	display: inline-block;
	min-width: 110px;
	width: 0;

	> .bl-token-attribute-main-input {
		width: 100%;
		display: flex;
		 >input,
		 .selectpicker,
		 .bootstrap-select {
			width: 100%!important;
			min-width: 0px!important;
		 }

	}
}

// Unhidden through script
[data-attribute-type] {
		display: none;
}
[data-has-file] .bl-has-file-hidden, .bl-has-file-shown {
	display:none;
}
[data-has-file] .bl-has-file-shown, .bl-has-file-hidden {
	display: block
}

.bl-hover-back {
	z-index: 2;
}.bl-hover-back:hover {
	z-index: 0;
}
.bl-hover-front {
	z-index: 1;
}.bl-hover-front:hover {
	z-index: 3;
}

.bl-input-upload-button {
	position: relative;
	overflow: hidden;
	border-left: none;
}

.bl-token-attribute-file-edit {
	background-color: rgb(255,255,200);
	text-align: left;
	min-width: 100%;
	position: relative;
}

/* Some weirdness going on here, we essentially move the actual
element out of its parent, hide the overflow, and fill the entire container with padding
This fixes issues like browsers overriding the cursor etc.*/
.bl-input-upload {
	position:absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	padding-left: 100%;
	opacity: 0;
	left: 0;
	top: 0;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
}

.bl-token-attribute-group-label {
	display: flex;
	justify-content: center;
	margin-top: 6px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 600;
}

.bl-token-attribute-group > .bl-create-attribute-dropdown {
	text-align: center;
	margin-top: 6px;
}.bl-token-attribute-main .bl-create-attribute-dropdown button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0px;
}

.bl-token .nav-tabs>li:first-child>a {
	border-left: none!important;
}

.bl-token-create {
	height: 0%; /* do not stretch to fit flex container */
	margin-right: 20px;
}

.bl-sort-handle {
	opacity: 0.5;
	cursor: pointer;
}.bl-token .panel-heading>.bl-sort-handle {
	vertical-align: middle;
}
.bl-sort-placeholder-token {
	background-color: lightgrey;
	margin: 0px 20px 0px 0px;
	min-width: 345px;
}