// Only contains styles for classes used in the built in xsl files (article_tei.xsl, article_folia.xsl). And some styles for the navigation controls (next hit, next page)

.hl {
	font-weight: bold;
	background-color: #e4ebef; //#ffe1bc;
	color: #464646;

	&.active {
		/*text-decoration: underline;*/
		color: #fff;
		background-color: #337ab7;
	}
}

.word, .tooltip-hover {
	// Defined in main.css in the main webapp
	font-family: "Helvetica Neue", "Helvetica", "Arial,sans-serif", "Inl vmnw wnt";
}

.p,
.paragraph {
	display: block;
	margin: 0 0 10px;
}

.linenumber {
	color: #aaaaaa;
	font-weight: bold;
}

// Metadata table
#metadata td,
#metadata th {
	vertical-align: top;
}
