// Only contains styles for classes used in the built in xsl files (article_tei.xsl, article_folia.xsl). And some styles for the navigation controls (next hit, next page)

.hl {
	font-weight: bold;
	color: #b10932;

	&.active {
		text-decoration: underline;
		background: #FFF;
	}
}

.word, .tooltip-hover {
	font-family: "Inl vmnw wnt", "Helvetica Neue", "Helvetica", "Arial,sans-serif";
}

.p,
.paragraph {
	display: block;
	margin: 0 0 10px;
}

.linenumber {
	color: #aaaaaa;
	font-weight: bold;
}

// Metadata table
#metadata td,
#metadata th {
	vertical-align: top;
}
