body {
	background-image: none;
}

hr {
	border-color: #000;
	opacity: 0.1;
}

.progress-bar {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

$panel-color: #337ab7;
$accent: darken($panel-color, 3);
// $border-default: #ccc;
// $border-dark: #bababa;
$border-default: #ddd;
$border-dark: #ccc;
$border-default-hover: darken($border-default, 10);
$border-dark-hover: darken($border-dark, 10);
$border-radius: 3px;
$border-radius-lg: 4px;

.cf-panel {
	border: 1px solid $border-default;
	// border-top: 3px solid $panel-color;
	// box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.2);
	border-radius: $border-radius;
	background: rgba(255,255,255,0.8);
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 20px;
	padding: 15px;
	transition: 0.25s border-color, 0.4s background-color;

	&:hover {
		border-color: $border-default-hover;
		background: white;
	}

	&.row {
		// assumed to be taken care of by child col-* classes
		padding-left: 0px;
		padding-right: 0px;
	}

	&.cf-panel-lg {
		border-color: $border-dark;
		// border-top-color: $panel-color;
		border-radius: $border-radius-lg;
		// border-top-width: 5px;
		// box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.6);
		margin-bottom: 35px;
		padding: 30px;

		&:hover {
			border-color: $border-dark-hover;
		}

		&.row {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}


ul.nav-tabs.cf-panel-tab-header {
	background-color: $panel-color;
	border-bottom-color: $accent;
	border-radius: $border-radius $border-radius 0px 0px;
	// border-top: 3px solid $panel-color;
	// box-shadow: 0px 1px 7px -1px rgba(0,0,0,0.2);
	margin-left: -15px;
	margin-right: -15px;
	z-index: -1;

	&.cf-panel-lg {
		// box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.6);
		border-radius: $border-radius-lg $border-radius-lg 0px 0px;
		// border-top-width: 6px;
		> li:first-child.active,
		> li:first-child:hover {
			> a { border-left-color: $border-dark!important; }
		}
	}

	> li {
		> a {
			border-top-color: none;
			color: white;
		}

		&.active > a {
			border-color: $border-default $accent white;
			color: #555;
		}

		&:not(.active):hover > a {
			border-color: $border-default $accent $border-default;
			background-color: white;
			color: #666;
		}

		&:first-child.active,
		&:first-child:hover {
			> a {
				border-left-color: $border-default!important;
			}
		}
	}
}

.cf-panel-tab-body {
	@extend .cf-panel;

	border-top: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

	&.cf-panel-lg {
		@extend .cf-panel-lg;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
}

.searchIndicator {
	color: white;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 1000px;
	font-size: 80px;
	padding: 10px;
	margin-left: -50px;
	z-index: 1000;
}

.disabled > label {
	color: hsl(0, 0%, 42%);
}

// v-tooltip
.tooltip {
	opacity: 1;

	> .tooltip-inner {
		background: white;
		border: 1px solid #ccc;
		border-radius: 2px;
		color: #333;
		font-size: 12px;
		padding: 4px 8px;
		max-width: 350px;
		word-break: break-all;
	}

	> .tooltip-arrow {
		display: none;
	}
}